**/bin/
**/obj/
.vs/
.idea/
.vscode/
**/__pycache__/
**/.artifacts/
*.bak

# Local runtime data
/res/
/TEST BUNDLE/
/log/
errors.txt
Log.txt
debug-*.md
/tools/icons-downloader/internal_ids.json
/tools/NikkeAssetUnpacker/

# User-specific files
*.user
*.suo
*.rar

# OS metadata
.DS_Store
Thumbs.db
